<mat-dialog-content>
  <h3>Neues Projekt anlegen</h3>
  <form [formGroup]="projectForm" id="project-form" (submit)="submit()">
    <mat-form-field class="full-width">
      <mat-label>Name</mat-label>
      <input matInput #name maxlength="45" formControlName="name" required>
      <mat-hint align="end">{{name.value.length}} / 45</mat-hint>
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>Beschreibung</mat-label>
      <input matInput #description maxlength="45" formControlName="description">
      <mat-hint align="end">{{description.value.length}} / 45</mat-hint>
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>Datum</mat-label>
      <input matInput #address type="date" formControlName="date">
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button form="project-form" type="submit">Erstellen</button>
</mat-dialog-actions>
