<mat-card class="form-card">
  <mat-card-content>

    <mat-card-title align="center">Registrieren</mat-card-title>
    <form [formGroup]="registerForm" id="register-form" (submit)="register()">
      <mat-form-field class="full-width">
        <mat-label>Name</mat-label>
        <input matInput #name maxlength="45" placeholder="Name" formControlName="name" type="text" required>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>E-Mail</mat-label>
        <input matInput #email maxlength="45" placeholder="E-Mail" formControlName="email" type="email" required>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Passwort</mat-label>
        <input matInput #password minLength="6" maxlength="32" placeholder="Passwort" formControlName="password"
          type="password" minlength="6" autocomplete="on" required>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Passwort erneut eingeben</mat-label>
        <input matInput #password_check minLength="6" maxlength="32" placeholder="Geben Sie ein Passwort ein"
          formControlName="passwordCheck" type="password" minlength="6" autocomplete="on" required>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit" class="half-width">Registrieren</button>
      <button mat-button color="primary" type="button" class="half-width" [routerLink]="'/login'"
        routerDirection="root">Login</button>
    </form>

  </mat-card-content>
</mat-card>
