.full-width {
  width: 100%;
}

.half-width {
  width: 50%;
}

form {
  margin: auto;
  width: 200px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}


.form-card {
  max-width: 250px;
  margin: 0 auto;
  margin-top: 64px;
}
