<mat-card class="form-card">
  <mat-card-content>

    <mat-card-title align="center">Login</mat-card-title>
    <form [formGroup]="loginForm" id="login-form" (submit)="login()">
      <mat-form-field class="full-width">
        <mat-label>E-Mail</mat-label>
        <input matInput #email maxlength="45" placeholder="Name des Instituts" formControlName="email" required>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Passwort</mat-label>
        <input matInput #password minLength="6" maxlength="32" placeholder="Passwort" formControlName="password"
          type="password" autocomplete="on" required>
      </mat-form-field>
    </form>

  </mat-card-content>

  <mat-card-actions style="text-align: center;">
    <button mat-raised-button color="primary" form="login-form" type="submit">Login</button>
    <button mat-button type="button" (click)="register()">Register</button>
  </mat-card-actions>

  <mat-card-footer style="text-align: center;">
    <p *ngIf="!sendingEmail; else spinner"><a (click)="resetPassword()">Passwort vergessen? </a></p>
    <ng-template #spinner>
      <mat-spinner style="margin: 0 auto;" [diameter]="25"></mat-spinner>
    </ng-template>
  </mat-card-footer>

</mat-card>
