<div style="margin: 32px;" *ngIf="project">
  <section class="mat-typography">
    <h1>{{project.name}}</h1>
    <h4>{{project.description}}</h4>
  </section>

  <mat-card *ngIf="dataSource.data && false">
    <mat-card-header>
      <mat-card-title>Sub-Projekte</mat-card-title>
      <mat-card-subtitle>Alle Sub-Projekte von {{project.name}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>

      <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="project-tree">

        <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle (click)="showProject(node)" class="clickable">
          <li class="mat-tree-node">
            {{node.name}}
          </li>
        </mat-tree-node>

        <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
          <li>
            <div class="mat-tree-node" (click)="showProject(node)" class="clickable">
              <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.name">
                <mat-icon class="mat-icon-rtl-mirror">
                  {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                </mat-icon>
              </button>
              {{node.name}}
            </div>
            <ul [class.project-tree-invisible]="!treeControl.isExpanded(node)">
              <ng-container matTreeNodeOutlet></ng-container>
            </ul>
          </li>
        </mat-nested-tree-node>
      </mat-tree>
    </mat-card-content>
  </mat-card>


  <mat-card *ngIf="peptideLibraries.length > 0">
    <mat-card-header>
      <mat-card-title>Peptide</mat-card-title>
      <mat-card-subtitle>Alle Peptide bezüglich {{project.name}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-action-list *ngIf="peptideLibraries.length > 0;else noPeptideLibraries">
        <mat-list-item *ngFor="let peptide of peptideLibraries" (click)="showPeptide(peptide)">
          <div mat-line>{{peptide.name}}</div>
          <div mat-line>{{peptide.organism}}</div>
          <mat-icon>keyboard_arrow_right</mat-icon>
        </mat-list-item>
      </mat-action-list>

      <ng-template #noPeptideLibraries>
        <button mat-raised-button color="primary" (click)="listAllPeptideLibraries()">
          Peptide hinzufügen
        </button>
      </ng-template>

    </mat-card-content>
  </mat-card>
</div>



<div class="fab-container">
  <button mat-fab color="primary" aria-label="Neues Projekt erstellen" class="fab-toggler" (click)="toggleMiniFabs()">
    <mat-icon [@fab-toggler]="{value: fabTogglerState}">add</mat-icon>
    <!-- <span class="extended-fab-button-label">Projekt</span> -->
  </button>
  <div [@speed-dial-stagger]="miniFabButtons.length">
    <button [color]="btn.color" *ngFor="let btn of miniFabButtons" mat-mini-fab class="extended-fab-button"
      [disabled]="btn.id === 'delete' && !isOwner" color="secondary" (click)="miniFabClicked(btn)">
      <mat-icon>{{btn.icon}}</mat-icon>
      <span class="extended-fab-button-label">{{btn.label}}</span>
    </button>
  </div>
</div>
<div id="fab-dismiss" *ngIf="fabTogglerState==='active'" (click)="hideMiniFabs()">
</div>
