@import "../../../styles.scss";

.form-card {
  cursor: pointer;
  max-width: 512px;
  margin: 0 auto;
  margin-top: 32px;
}

// .mat-row:hover {
//   background-color: mat-color($default-app-primary-tint);
// }
