.full-width {
  width: 100%;
}

form {
  margin: 0 auto;
}

.form-card {
  max-width: 500px;
  margin: 0 auto;
  margin-top: 32px;
}

.institute-table {
  width: 100%;
  margin: 0 auto;
}

.table-icon-column {
  max-width: 10px;
}
