<div style="margin: 32px;" *ngIf="project">
  <section class="mat-typography">
    <h1>{{project.name}}</h1>
    <h4>{{project.description}}</h4>
  </section>

  <div class="fab-container">
    <button mat-fab color="warn" aria-label="Neues Projekt erstellen" class="fab-toggler" (click)="toggleMiniFabs()">
      <mat-icon>add</mat-icon>
      <!-- <span class="extended-fab-button-label">Projekt</span> -->
    </button>
    <div>
      <button *ngFor="let btn of miniFabButtons" mat-mini-fab class="extended-fab-button" color="secondary"
        (click)="miniFabClicked(btn)">
        <mat-icon>{{btn.icon}}</mat-icon>
        <span class="extended-fab-button-label">{{btn.label}}</span>
      </button>
    </div>
  </div>
  <div id="fab-dismiss" *ngIf="miniFabsShown" (click)="toggleMiniFabs()">
  </div>
