<div style="margin: 32px;" *ngIf="project">
  <section class="mat-typography">
    <h1>{{project.name}}</h1>
    <h4>{{project.description}}</h4>

    <ngx-dropzone #drop (change)="onSelect($event)">
      <ngx-dropzone-label>Drop & Drop</ngx-dropzone-label>
      <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
        <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
      </ngx-dropzone-preview>
    </ngx-dropzone>
    <div style="width: 100%;" align="end">
      <button style="margin: 16px;" mat-raised-button (click)="uploadFiles()">Upload</button>
    </div>

  </section>
</div>
