<button mat-icon-button class="close-button" [mat-dialog-close]="true">
  <mat-icon class="close-icon" color="warn">close</mat-icon>
</button>

<h1 mat-dialog-title>Dokumente</h1>

<mat-dialog-content>
  <mat-list>
    <mat-list-item *ngFor="let file of files">
      <mat-icon mat-list-icon>file_present</mat-icon>
      <div mat-line>{{file.name}}</div>
      <div mat-line>{{file.dateCreated * 1000 | date}}</div>

      <button mat-icon-button (click)="viewFile(file)">
        <mat-icon>visibility</mat-icon>
      </button>
      <button mat-icon-button (click)="downloadFile(file)">
        <mat-icon>download</mat-icon>
      </button>
    </mat-list-item>
  </mat-list>
</mat-dialog-content>


<mat-dialog-actions>
  <button mat-stroked-button color="primary" style="width: 100%;">Neues Dokument</button>
</mat-dialog-actions>
