<div fxLayout="row" fxLayout.lt-md="column">
  <div fxFlexOrder="1" fxFlex="3 2 66%">
    <mat-card class="main-card" *ngIf="peptideLibrary">
      <mat-card-header>
        <mat-card-title>{{ peptideLibrary.name }}</mat-card-title>
        <mat-card-subtitle>{{ peptideLibrary.organism }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <canvas id="myChart"></canvas>
      </mat-card-content>
    </mat-card>

  </div>
  <div fxFlexOrder="2" fxFlex="1 1 33%">

    <mat-card class="side-card" [ngClass.lt-md]="{'main-card': true, 'side-card': false}">
      <mat-card-header>
        <mat-card-title>Neue Fraction</mat-card-title>
        <mat-card-subtitle>Lade neue Fraktions hoch</mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions>
        <button mat-stroked-button color="primary" style="width: 100%;">
          Hochladen
        </button>
      </mat-card-actions>
    </mat-card>

  </div>
</div>