<div fxLayout="row" fxLayout.lt-md="column">
  <div fxFlexOrder="1" fxFlex="3 2 66%">
    <mat-card class="main-card" *ngIf="project">
      <mat-card-header>
        <mat-card-title>Peptide</mat-card-title>
        <mat-card-subtitle>Alle Peptide bezüglich {{project.name}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>

      </mat-card-content>
    </mat-card>

  </div>
  <div fxFlexOrder="2" fxFlex="1 1 33%">

    <mat-card class="side-card" [ngClass.lt-md]="{'main-card': true, 'side-card': false}">
      <mat-card-header>
        <mat-card-title>Favorit</mat-card-title>
        <mat-card-subtitle>Favorisierte Projekte werden auf der Startseite angezeigt.</mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions>
        <button mat-stroked-button color="primary" style="width: 100%;">
          Favorisieren
        </button>
      </mat-card-actions>
    </mat-card>

  </div>
</div>
