/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// @import '@angular/material/prebuilt-themes/pink-bluegrey.css';

@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$default-app-primary: mat-palette($mat-red, A100, A200, A400);
$default-app-primary-tint: mat-palette($mat-red, 50);
$default-app-accent: mat-palette($mat-indigo, A200, A100, A400);
$default-app-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as `color` or `typography`.
$default-app-theme: mat-light-theme((color: (primary: $default-app-primary,
      accent: $default-app-accent,
      warn: $default-app-warn,
    )));



.mat-row:hover {
  background-color: mat-color($default-app-primary-tint);
  cursor: pointer;
}

mat-card {
  margin: 24px 64px 24px 64px;
}

mat-dialog-content {
  width: 500px;
}

mat-form-field {
  width: 100%;
}

.close-button {
  float: right;
  top: -24px;
  right: -24px;
}

.close-icon {
  transition: 1s ease-in-out;
}

.close-icon:hover {
  transform: rotate(180deg);
}

::ng-deep .icon-outside .close-button {
  float: right;
  top: -52px;
  right: -52px;
}

::ng-deep .icon-outside .mat-dialog-container {
  overflow: unset
}


// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($default-app-theme);
