<button mat-icon-button class="close-button" [mat-dialog-close]="true">
  <mat-icon class="close-icon" color="warn">close</mat-icon>
</button>

<h1 mat-dialog-title>Datei hochladen</h1>

<mat-dialog-content>
  <ngx-dropzone #drop (change)="onSelect($event)" style="width: 100%;">
    <ngx-dropzone-label>Drop & Drop</ngx-dropzone-label>
    <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
      <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
    </ngx-dropzone-preview>
  </ngx-dropzone>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-stroked-button color="primary" style="width: 100%;" (click)="uploadFiles()">Hochladen</button>
</mat-dialog-actions>
